<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logoTuMercado.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>TuMercado</title>
</head>
<header class="header">
    <img class="imgCruz" src="/images/x-symbol-svgrepo-com.svg" alt="cruxSvg"/>
    <button class="buttonMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>

    <nav class="nav activo">
        <ul>
            <div class="logo">
                <div>
                    <img src="/images/logoTuMercado.png" alt="TuMercado-imagen">
                    <span class="logoTitulo">TuMercado</span>
                </div>
            </div>
    </nav>
</header>
<body>
    <main class="mainLogin">
            <h3 class="mainLogin-titulo">Bienvenido, ingrese su usuario</h3>
            <div class="formulariosLogin">
                <form class="inicie" method="POST" action="/auth/login">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="text" class="email" name="Email" placeholder="Ingrese su email">
                    <input type="password" name="Password" placeholder="Ingrese su password">
                    <input type="submit" value="Iniciar sesión">
                    <div class="a2">
                        <a href="/auth/olvide-password">OLVIDO SU CONTRASEÑA?</a>
                        <a href="/auth/register">DESEA CREAR UN USUARIO?</a>
                    </div>    
                </form>
                Mostrar mensajes de error
            <% if (errors && errors.length > 0) { %>
                <div class="erroresForms">
                    <% errors.forEach(function(error) { %>
                        <h6><%= error.msg %></h6>
                    <% }) %>
                    </div>
            <% } %>
            </div>
    </main>
    <footer>
        <span>©️Tu Mercado 2024</span>
    </footer>
    <script src="/script.js"></script>
</body>
</html>
