<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logoTuMercado.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/panel-style.css">
    <title>Crear un Producto</title>
        <%- include('partials/header') %>
</head>
<body>
    <main>
        <div class="title-flex">
            <h1>Crear Producto</h1>
            <a href="/admin/panel" class="back">Volver</a>
        </div>
                    <form action="/admin/crear-producto/?_csrf=<%= csrfToken %>" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <label for="Nombre">Nombre:</label>
                        <input type="text" id="Nombre" name="Nombre" value="">
                        <br>
                        <label for="Descripcion">Descripción:</label>
                        <input type="text" id="Descripcion" name="Descripcion" value="">
                        <br>
                        <label for="Precio">Precio:</label>
                        <input type="number" id="Precio" name="Precio" value="">
                        <br>
                        <label for="Stock">Stock:</label>
                        <input type="number" id="Stock" name="Stock" value="">
                        <br>
                        <label for="Stock">Foto_Url:</label>
                            <input type="file" name="img-producto" id="img-producto" accept="image/jpeg, image/png" required>
                        <br>
                        <button class="uploadPhotoUser" type="submit" >Crear Producto</button>
                    </form>
    </main>
</body>
<%- include('partials/footer') %>

<script src="/script.js"></script>
</body>
</html>
