<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/logoTuMercado.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sobre Nosotros</title>
</head>
<header class="header">
    <img class="imgCruz" src="../images/x-symbol-svgrepo-com.svg" alt="cruxSvg"/>
    <button class="buttonMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>

    <nav class="nav activo">
        
        <ul>
            <div class="logo">
                <a href="/">
                    <img src="/images/logoTuMercado.png" alt="TuMercado-imagen">
                    <span class="logoTitulo">TuMercado</span>
                </a>
            </div>
            <li><a href="/pages/productos">Productos</a></li>
            <li><a href="">Sobre Nosotros</a></li>
            <li><a href="/pages/contacto">Contacto</a></li>
            <li class="numero"><a href="/pages/carrito"><img src="/images/carrito.png" alt="carrito"></a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <section class="sobre-nosotros">
            <div class="tituloSeccion-sobre">
            <div class="sobre-nosotros-h1">
                <h1>Sobre Nosotros</h1>
                <p>Bienvenido a nuestra empresa, donde nos dedicamos a ofrecer los mejores productos en línea para satisfacer todas tus necesidades. Nuestro compromiso es brindarte calidad, confianza y un excelente servicio al cliente.</p>
            </div>
            </div>
            <div class="mision">
                <div>
                    <h2>Nuestra Misión</h2>
                    <p>Nuestra misión es proporcionar productos de alta calidad a precios competitivos, asegurando una experiencia de compra fácil y segura para todos nuestros clientes.</p>
                </div>
                <img  class="imgMercado" src="https://economipedia.com/wp-content/uploads/Definicion-de-mercado.jpg" alt="imagenDeMercado"/>
            </div>
            <div class="historia">    
                <h2>Nuestra Historia</h2>
                <p>Fundada en 2020, nuestra empresa ha crecido rápidamente gracias a la confianza de nuestros clientes y el esfuerzo de nuestro equipo dedicado. Desde nuestros humildes comienzos, nos hemos enfocado en mejorar y expandir continuamente nuestra oferta de productos.</p>
            </div>
            <div class="equipo">
                <h2>Nuestro Equipo</h2>
                <p>Contamos con un equipo de profesionales apasionados y dedicados a brindar el mejor servicio posible. Cada miembro de nuestro equipo comparte la visión de ofrecer productos excepcionales y un servicio al cliente inigualable.</p>
                <h2>Contáctanos</h2>
                <p>Si tienes alguna pregunta o necesitas más información, no dudes en <a href="contacto">contactarnos</a>. Estamos aquí para ayudarte.</p>
            </div>
            </section>
    </main>
    <footer>
        <span>©️Tu Mercado 2024</span>
    </footer>
    <script src="/script.js"></script>
</body>
</html>