<header class="header">
    <img class="imgCruz" src="/images/x-symbol-svgrepo-com.svg" alt="cruxSvg"/>
    <button class="buttonMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>

    <nav class="nav activo">
        <ul>
            <div class="logo">
                <div>
                    <img src="/images/logoTuMercado.png" alt="TuMercado-imagen">
                    <a href="/admin/panel" class="logoTitulo">TuMercado</a>
                </div>
            </div>
</ul>
        <div class="navbar">
                <div class="btn-logout">
                    <!-- Botón de cierre de sesión -->
                    <form action="/logout" method="get">
                        <button class="btn" type="submit">Cerrar sesión</button>
                    </form>
                </div>
        </div>
    </nav>
</header>
